*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background:#F8FAFC;
    color:#1F2937;
}

a{
    text-decoration:none;
}

button{
    cursor:pointer;
    font-family:inherit;
}

.container{
    width:90%;
    max-width:1300px;
    margin:auto;
}